
/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        border-right: 1px solid #ddd;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: #092748;
    font-size: larger;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #092748;
}

.navbar-inverse {
    background-color: #1e84d4 !important;
}

.navbar-brand {
    color: #fff !important;
}
/*
 * Main content
 */

.main {
    padding: 15px 0;
}
@media (min-width: 768px) {
    .main {
        padding-right: 10px;
        padding-left: 0px;
    }
}
.main .page-header {
    margin-top: 0;
}
.btn{
    margin: 10px 5px !important;
    background-color: #757474;
    color: #fff;
    font-weight: bold;
}

.btn-primary{
    background-color: #1e84d4 !important;
}

.text-primary{
    color: #1e84d4 !important;
}

.text-bold{
    font-weight: bold;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.card-link{
    margin-bottom: 20px;
    text-align: center;
}

.dash-link{
    border-radius: 12px;
    width: 100px;
    background-color: #09264a;
    border-color: #6b7c92;
    color: #fff;
}

.card-link > button > h3 {
    margin-top: 5px !important;
    text-transform: uppercase;
    font-size: medium;
    font-weight: bold;
    color: BLACK;
}

.btn-orange {
    background-color: #FF5500;
    border-color: #ffbb99;
    color: #fff;
}

.error{
    color: red;
    font-size: smaller;
}

.d-none {
    display: none !important;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.navbar-inverse .navbar-toggle {
    border: none !important;
    color: #fff;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: none !important;
}

.form-control {
    border: 1px solid #cdd3da !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #cdd3da !important;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    font-weight: bold !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff !important;
}

.sidebar {
    padding: 0 20px !important;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #9ca8b6 !important;
}

.material-icons{
    display: inline-flex;
    vertical-align: middle;
}


.nav-list li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #515151 !important;
    color: #9d9d9d;
}

.nav-list > li > a {
    color: #C4C4C4;
    font-size: 14px;
    padding-left: 13px !important;
    border-bottom: 1px solid #585858;
}

.nav-list > li > a:hover {
    background-color: #444444;
}

@media screen and (min-width: 1048px) {
    .lg-form{
        border: 1px solid #cdd3da !important;
    }
}

.list-group li {
    list-style: none;
}
.panel-info, .panel-minerales, .panel-servicios, .panel-importe {
    float: left;
    margin: 0;
    border-right: 1px solid lightgray;
}
.panel-importe{
    border: none !important;
}

.panel-list{
    border-color: #ddd;
    margin-bottom: 5px !important;
}

.panel-body {
    padding: 5px 15px !important;
}

.navbar-left{
    padding-left: 70px;
}

.card-group  > .col-lg-2, col-lg-3 {
    padding-right: 0 !important;
}

.card-info{
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.stat-icon {
    display: inline-block;
    font-size: 26px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

.stat {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.stat-progress {
    height: 2px;
    margin: 5px 0;
    color: #85CE36;
    background-color: #dddddd;
}

.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.stat-widget-three{
    border: 1px solid #ddd;
}

.stat-widget-three .stat-icon {
    display: block;
    position: absolute;
    padding: 9px;
    width: 30% !important;
}

.stat-widget-three .stat-content {
    text-align: center;
    margin-left: 90px;
    padding: 5px;
}

.card-info > .h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.bg-orange{
    background-color: #f99820;
    color: white;
}

.text-orange{
    color:#f99820;
}

.bg-gris{
    background-color: #bbbbbb;
}

.bg-cielo{
    background-color: #e8f2fa;
}

.texr-gris{
    color: #bbbbbb;
}

.pb-15{
    padding-bottom: 15px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 2px !important;
    padding: 0px 2px !important;
}

.btn-search{
    background-color: #1e84d4 !important;
    border-radius: 10px;
    padding: 5px 20px;
    color: white;
    font-weight: bold;
}

.panel-default {
    margin: 0 15px 20px;
}

.pt-50{
    padding-top: 50px !important;
}

.pt-15{
    padding-top: 15px !important;
}

.mt-10{
    margin-top: 10px !important;
}

.mt-40{
    margin-top: 10px !important;
}

@media (min-width: 768px) {
    .pr-align{
        float: right!important;
    }
}

.thead-inverse{
    background-color: #092748 !important;
    color: white;
    font-weight: bold;
}

.breadcrumb{
    padding: 13px 16px !important;
}

.totales{
    background-color: #f5f5f5;
}

.ptb-10{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
